#################
# General Config
#################
rpcuser=YouShouldDefinitelyChangeThis
rpcpassword=YouShouldDefinitelyAlsoChangeThis
rpcport=52543
rpcallowip=127.0.0.1
server=1
daemon=0
listen=1
#maxconnections=100

####################
# Masternode Config
####################
#masternode=1
#masternodeprivkey=
#externalip=:52544
#promode=1
