#################
# General Config
#################
rpcuser=ustraks
rpcpassword=YourSuperGreatPassword_DO_NOT_USE_THIS_DEFAULT_TEXT_OR_YOU_WILL_GET_ROBBED
rpcport=7574
rpcallowip=127.0.0.1
server=1
daemon=0
listen=1
#maxconnections=100

####################
# Masternode Config
####################
#masternode=1
#masternodeprivkey=
#externalip=:7575
#promode=1
